.event-single{
  table { border-collapse: collapse; }
  .event-info{
    display:flex;
    justify-content: space-between;
    .info-values{
      th{
        text-align: start;
        padding-right: 20px;
        vertical-align: top;
      }
      th, td{font-size: 19px;}
      td{
        padding-bottom: 1em;
        &.location{
          padding-bottom: 0;

        }
      }
    }


    .left-info{
      width:25%;
      h3{
        margin: 0;
      font-weight: 400;
      }
    }

  }
}
.event-archive{
  .events-wrap{
    display: flex;
    flex-wrap: wrap;
    .single-event{
      width: 45%;
      border-bottom:2px solid gray;
      &:nth-child(odd){
        padding-right: 70px;
      }
    }
  }
}
